h1 {
    display: block;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: hotpink;
    text-align: center;
    
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.right{
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: 0%;

}

.left{
    width: 600px;
    display: block;
    margin-left: 0%;
    margin-right: auto;
}

.center{
    display: block;
    text-align: center;
}

.description{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 8em;
}